{{#each model as |schools|}}
<div>
	<strong>{{schools.result}}</strong>
	<strong>{{schools.count}}</strong>
	<strong>{{schools.nameSchool}}</strong>
	<strong>{{schools.distritSchool}}</strong>
</div><br/>
{{/each}}
{{outlet}}
